<div class="wrapper" id="preview-wrapper" style="height: {{ height }}px">
  <img src="/preview?ts={{ image_ts }}" />
</div>

<div class="wrapper">
  <form>
  	<label for="motd">
  	  Message of the Day
      <input type="text" id="motd" name="motd" value="{{ motd }}" />
    </label>
    <span role="button" hx-delete="/motd" hx-target="main">
      Clear
    </span>
    <span role="button" hx-post="/motd" hx-target="main">
      Set
    </span>
  </form>
</div>

<div class="wrapper">
  Forecast updated {{ time_since_last_update }}<br/>
  MOTD updated {{ time_since_motd_update }}<br/>
  Screen updated {{ time_since_screen_update }}
</div>

<div class="wrapper">
  <details>
    <summary>Most recent weather response</summary>
    <p style="margin: 1em 0">Fetched via <code>{{ fetch_url }}</code></p>
    <pre style="padding: 2em">{{ most_recent_forecast }}</pre>
  </details>
</div>
